body {
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#app-title {
    color: whitesmoke;
    text-align: center;
}
h3 {
    text-align: center;
}
div.search {
    text-align: center;
}
div.current {
    text-align: center;
}
div.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

